// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Import custom audio 'Plyr'
@import "~plyr/dist/plyr.css";

body {
  padding-top: 80px;
}

html {
  scroll-padding-top: 80px;
}

a {
  text-decoration: none;
}

#home {
  background-image: url('../files/images/windows.jpg');
  background-size: cover;
  background-position: center;
}

// technique to hide email address from bots
span.email b {
	display: none;
}

@include media-breakpoint-up(md) {
  #home {
    background-image: url('../files/images/choir-img.jpg');
    background-size: cover;
    background-position: center;
  }
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@include media-breakpoint-up(lg) {
  .list-group-item p {
  width: 25%;
  }
}

.plyr-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.video-player {
  height: auto;
  width: 100%;
}